header{
    display: flex;
    width: 100%;
    height: 8vh;
    /*background-color: #BED7FD;*/
}
header > section{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

}
header > section:first-child > img {
    width: 20%;
    height: 70%;
    margin-left: 3%;
}
header > section:first-child > h2 {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    margin-left: 10%;
    font-size: 30px;
    font-weight: lighter;

}
header > section:nth-child(2) > div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
}

header > section:nth-child(2) > div:first-child {
    justify-content: space-around;
    font-size: 20px;

}
header > section:nth-child(2) > div:nth-child(2) {
    justify-content: space-evenly;
    font-size: 18px;
}
header > section:nth-child(2) > div:nth-child(2) > img {
    margin-left: 20%;
    width: 15%;
}