<!--
/*
* @author : supun@mj
* Project : Web POS
* Date    : 8/19/2023 (Sat)
* Time    : 9:00 PM
* For GDSE course of IJSE institute.
*/
-->
#itemForm {
    width: 94%;
    height: 100%;

}
#itemForm  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#itemForm> div > div:first-child {
    width: 98%;
    height: 8%;
    background-color: #BED7FD;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

}
#itemForm > div > div:nth-child(2) {
    width: 98%;
    height: 88%;
    background-color:#d6e7ff ;
    border-radius: 1.5em;
    display: flex;
    flex-direction:column ;
}
/*---------------------------------------*/
#itemForm > div > div:nth-child(2) > div:first-child {
    width: 60%;
    height: 35%;
    /*background-color: #C2A3F4;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    margin-left: 3%;
}
#itemForm > div > div:nth-child(2) > div:first-child > div {
    display: flex;
    width: 90%;
    height: 33%;
    align-items: center;
    justify-content: space-around;
}
#itemForm> div > div:nth-child(2) > div:first-child > div > input {
    border-radius: 0.5em;
    border: none;
    width: 55%;
    height: 60%;
}
#itemForm > div > div:nth-child(2) > div:first-child > div:first-child {
    font-size: 1.5em;
}
#itemForm> div > div:nth-child(2) > div:first-child > div:nth-child(2) > input {
    width: 40%;
}
#itemForm > div > div:nth-child(2) > div:first-child > div:nth-child(3) > input {
    width: 40%;
}
#itemForm > div > div:nth-child(2) > div:first-child > div:nth-child(4) > div {
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    border-radius: 0.8em;
    box-shadow: 2px 5px 5px 0;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    cursor: pointer;

}

/*------------------------------------------*/

#itemForm > div > div:nth-child(2) > div:nth-child(2) {
    width: 75%;
    height: 10%;
    /*background-color: red;*/
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}
#itemForm > div > div:nth-child(2) > div:nth-child(2) > div {
    width: 18%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    border-radius: 0.8em;
    box-shadow: 2px 5px 5px 0;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    /*margin-left: 10%;*/
    cursor: pointer;
    user-select: none;

}
#itemForm > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(5){
    background-color: red;

}
    /*-----------------------------------------------------*/
#itemForm > div > div:nth-child(2) > div:nth-child(3) {
    width: 90%;
    height: 40%;
    align-self: center;
    /*background-color: chartreuse;*/
    display: flex;
    justify-content: center;

}
#itemForm > div > div:nth-child(2) > div:nth-child(3) > table {
    height: 0;
    background-color: white;
}
.itemInput {
    outline-color: greenyellow;
    box-shadow: 0 0 10px #719ECE;
}

/*----style for footer----------------------------------------------------------------------------*/
footer {
    width: 100%;
    height: 4vh;
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p {
    margin: 0;
}